# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/

# Local env files
.env*.local

# System files
.DS_Store
Thumbs.db

# Python Caches
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Database / Local preview files
backend/database_preview.md
*.db
*.sqlite
